body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat';
}

:root {
	--main-btn-color: #0050FF;
	--secondary-btn-color: #151E42;
}

* {
	box-sizing: border-box;
}

.header {
	padding: 49px 0;

}
.main-container {
	max-width: 1000px;
	margin: auto;
}
.secondary-container {
	max-width: 1440px;
	margin: auto;
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-list {
	display: flex;
	justify-content: space-between;

	/* gap: 40px; */
	/* margin-left: 64px;
	margin-right: 82px; */
}
.logo {
	margin-left: -13px;
}




.nav-list .nav-list__item {
	list-style: none;
	padding: 0 2px;
	flex:1 1 0;
}

.nav-list__link {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #151E42;
}

/* MAIN-CONTENT */
.main-content {
	padding-top: 184px;
	background-image: radial-gradient(50% 50% at 50% 50%, #DEECFF 0%, rgba(217, 217, 217, 0) 100%);
	background-repeat: repeat;
	padding-bottom: 311px;
}

.main-section-title {
	font-weight: 800;
	font-size: 64px;
	line-height: 77px;
	color: #151E42;
	letter-spacing: 2px;
}

.section-desc {
	font-weight: 400;
	font-size: 27px;
	line-height: 33px;
}

.section-img {
	margin-top: -40px;
}

/* OUR */
.our {
	padding-top: 130px;
	height: 838px;
	background: radial-gradient(50% 50% at 50% 50%, #DEECFF 0%, rgba(217, 217, 217, 0) 100%);
}

.our .section-content {}

.images {
	width: 350px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.images-content{
	margin-top: 62px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}
.images .blue-ball {
	position: absolute;
	top: 290px;
	left: 124px;
}

.images .women {
	position: absolute;
	top: 0;
	left: 0;
}

.images .line {
	position: absolute;
	top: 554px;
	left: 280px;
}

.images .figure {
	position: absolute;
	top: 650px;
	left: 160px;
}

.content-block {
	margin-top: 150px;
	background-image: url(./assets/background/content-background.png);
	max-width: 560px;
	max-height: 338px;
	padding: 53px 80px 124px;
	margin-left: 86px;
	background-repeat: no-repeat;
}

.block-header {
	font-weight: 400;
	font-size: 48px;
	line-height: 59px;
	color: #151E42;
	margin-bottom: 24px;
	letter-spacing: 6px;

}

.block-desc {
	font-weight: 400;
	font-size: 27px;
	line-height: 33px;
	max-width: 400px;
	letter-spacing: 2px;
}

/* services */
.services {
	margin-top: 230px;
	margin-bottom: 105px;
}

.services-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 70px;
	row-gap: 56px;
	/* flex: 1 1 0; */
}

.services-item {
	width: 198px;
	font-weight: 400;
	font-size: 27px;
	line-height: 33px;
	color: #151E42;
	letter-spacing: 1px;
}

/* FEEDBACk */
.feedback {
	background: #0050FF;
	border-radius: 30px;
	padding: 70px 0 82px;
}

.feedback-header {
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	color: #FFFFFF;
}

.feedback input {
	padding: 16px 24px 24px;

}

::-webkit-input-placeholder {
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	color: #C4C4C4;
}

.textarea {
	padding: 16px 24px 24px;
}

.agree {
	width: 272px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.privacy {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.agree-link {
	color: #FFFFFF;
}

/* CLIENTS */
.clients {
	margin-top: 127px;
}
.advantage{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.advantage-item{
	max-width: 204px;
}
.advantage-amount{
	margin-bottom: 14px;
	font-weight: 900;
	font-size: 48px;
	line-height: 59px;
	color:var(--main-btn-color);
}
.advantage-desc{
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
}
.clients-block{
	margin-top: 152px;
	display: flex;
	row-gap: 32px;
	align-items: center;
}
.trust{
	display: flex;
	gap: 40px;
	align-items: center;
}
.trust-desc{
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
}
.client-items{
	display: flex;
	align-items: center;
	gap:24px
}
/* global-team */
.global-team{
	margin-top: 288px;
}
.offices{
	font-weight: 400;
	font-size: 27px;
	line-height: 33px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}
.offices-countries{
	/* display: flex;
	justify-content: space-between;
	row-gap: 60px; */
}

.projects-header{
	font-weight: 400;
	font-size: 27px;
	line-height: 33px;
	color: #151E42;
	margin-bottom: 47px;
}
.project-items{
	display: flex;
	column-gap: 16px;
}
.project-item{
	max-width: 234px;
	background-color: #E7EBEF;
	padding:24px 23px 20px 23px;
}

.project-item__header{
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 16px;
}
.project-item__desc{
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #151E42;
}
/* HOWIT */
.howit{
	margin-top: 132px;
}
.step-title{
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	color: #151E42;
}
.step-item{
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	position: relative;
}
.step-count{
	width: 145px;
	height: 145px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./assets/svg/circle.svg);
	padding: 60px;
	border-radius: 50%;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: #0050FF;
}
.arrow{
	position: absolute;
	left: 175px;
	top: 60%;
}
/* CONTACTS */
.contacts{
	margin-top: 152px;
}
.contacts .section-desc{
	max-width: 450px;
	font-weight: 400;
	font-size: 27px;
	line-height: 33px;
	color: #151E42;
}
.ava-img{
	border-radius: 30px;

}
.employee{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #151E42;
}
.blocks{
	display: flex;
	align-items: center;
	gap: 11px;
}
.block-circle{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #0050FF;
}
.block-item{
	padding: 23px 72px;
	font-weight: 400;
	font-size: 33px;
	line-height: 40px;
	color: #ffffff;
	background-color: #0050FF;
}
/* FOOTER */

.footer-main-content{
	margin-top: 76px;
	background: #151E42;
	padding: 32px 0 46px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}
.footer-logos{
	display: flex;
	align-items: flex-end;
	column-gap: 22px;
}
.footer-c{

}
.footer-secondary-content{
	margin-top: 189px;
	font-weight: 400;
	font-size: 26px;
	line-height: 50px;
}
.rec1{
	background-image: url(./assets/background/footer-rec-background.png);
	width: 357px;
	height: 121px;
	margin-bottom: 28px;
}
.rec2{
	background-image: url(./assets/background/rec-2.png);
	width: 278px;
	height: 275px;
	padding: 71px 34px 71px 88px;
	color: #ffffff;
	text-align: right;
	font-weight: 400;
	font-size: 33px;
	line-height: 40px;
}
.footer-end{
	margin-top: 180px;
}
.footer-end-blocks{
	display: flex;
}
.block-project{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(144, 156, 146, 1);
	border-right: 1px solid rgba(144, 156, 146, 1);
	border-bottom: 1px solid rgba(144, 156, 146, 1);
	padding: 70px;
	max-height: 209px;
}
.block-costumers{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(144, 156, 146, 1);
	border-bottom: 1px solid rgba(144, 156, 146, 1);
	padding: 70px;
	max-height: 209px;
}
.block-project-title{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #718176;
}
.block-project-amount{
	font-weight: 500;
	font-size: 25px;
	line-height: 40px;
	color: #0050FF;
}


/* ///////////////////////////////////////ABOUT US */
.bg-1{
	width: 200px;
	height: 220px;
	background: linear-gradient(337.4deg, #6BB0FF -25.69%, rgba(255, 255, 255, 0) 101.59%);
	border-radius: 30px;;
	position: absolute;
	bottom: -40px;
	left: 40%;
}
.win-basis{
	margin-top: 156px;
}
.stack-item{
	font-weight: 400;
	font-size: 27px;
	line-height: 33px;
	color: #151E42;
	font-weight: 400;
	font-size: 27px;
	line-height: 33px;
}
.feedback-block{
	padding: 24px 80px 24px 32px;
	background-color: #0050FF;
	color: #ffffff;
	font-weight: 400;
	font-size: 27px;
	line-height: 33px;
}
.feedback-author{
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #151E42;
	padding-top: 16px;
	border-top: 2px solid #151E42;
	margin-top: 24px;
}
.sphere-title{
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: #151E42;
}
/*/////////////////////////////////////////////////////////////// UTILITIES */
.section-title {
	font-weight: 800;
	font-size: 32px;
	line-height: 38px;
	color: #151E42;
	text-transform: uppercase;
}

.mb-lg-56 {
	margin-bottom: 56px;
}
.mb-sm-48{
	margin-bottom: 0;
}
.mb-sm-34{
	margin-bottom: 0;
}
.mb-60{
	margin-bottom: 60px;
}
.mb-72{
	margin-bottom: 72px;
}
.mb-120 {
	margin-bottom: 120px;
}
.mb-24{
	margin-bottom: 24px;
}
.mb-lg-48 {
	margin-bottom: 48px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-80{
	margin-bottom: 80px;
}
.mb-16 {
	margin-bottom: 16px;
}
.mt-100{
	margin-top: 100px;
}
.mb-96{
	margin-bottom: 96px;
}
.mb-104{
	margin-bottom: 104px;
}
.mr-30{
	margin-right: 30px;
}
.mr-64{
	margin-right: 64px !important;
}
.ml-38{
	margin-left: 38px;
}
.mta{
	margin-top: auto;
}
.mr-50{
	margin-right: 50px;
}
.mra{
	margin-right: auto;
}
.mt-152{
	margin-top: 152px;
}

.pb-80{
	padding-bottom: 0;
}
.btn-color {
	color: #ffffff;
	background-color: var(--main-btn-color)
}
.pos-r{
	position: relative;
}
.tar {
	text-align: right;
}
.tac{
	text-align: center;
}
.tal{
	text-align-last: left;
}
.df {
	display: flex;
}
.jcc{
	justify-content: center;
}
.aic{
	align-items: center;
}
.fdc {
	flex-direction: column;
}

.sz {
	padding: 0;
	margin: 0;
}

.mla {
	margin-left: auto;
}

.mb-88 {
	margin-bottom: 88px;
}

.secondary-color {
	background-color: var(--secondary-btn-color);
	color: #ffffff;
}

.px-40 {
	padding: 0 40px;
}
.mb-20{
	margin-bottom: 20px;
}
.button {
	border-radius: 5px;
	border: none;
	user-select: none;
}
.btn-more{
	padding:30px 80px 50px 58px;
	border-radius: 10px;
	border: none;
	color: #ffffff;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
}
.mobile-button{
	border-radius: 0;
	padding: 10px 70px;
	border: none;
	color: #ffffff;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;
	width: 100%;
}
.arrow-icon{
	margin-top: 20px;
}
/* ////////////////////////////ADAPTIVE */
.navbar-expand-lg .navbar-nav{
	width:100%;
}
.navbar-toggler{
	border: none;
	
}
.navbar-toggler:focus{
	box-shadow: none;
}
.center{
	align-items: center;
}
@media (min-width:760px) {
	.main-section-title{
		margin-bottom: 56px;
	}
	.section-desc{
		margin-bottom: 48px;
	}

	.mb-lg-56{
		margin-bottom: 56px;
	}
	.mb-sm-48{
		margin-bottom: 0px;
	}

}
@media (min-width:320px) and (max-width:760px) {
	.main-container{
		max-width:100%;
		padding: 0 30px;
	}
	.navbar .navbar-toggler-icon{
		background-image: url(./assets/svg/menu-icon.svg);
	}
	.main-content{
		padding-top: 42px;
	}
	.main-section-title{
		font-weight: 800;
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 48px;
	}
	.section-desc{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 34px;
	}
	.main-content{
		padding-bottom: 0;
	}
	.our{
		padding-top: 48px;
		height:200px;
	}
	.services{
		margin-top: 350px;
	}
	.services .mb-88{
		margin-bottom: 18px;
	}
	.services-items{
		gap: 12px;
		
	}
	.services-item{
	min-width: 150px;
	max-width: 100%;
	flex: 1;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	background: #D9D9D9;
	padding: 24px 5px 26px 20px;
	}
	.services .mobile-button{
		margin-top: 68px;
	}
	.section-title{
	font-weight: 800;
	font-size: 24px;
	line-height: 29px;
	}
	.clients{
		margin-top: 78px;
	}

	.clients .section-title.mb-120{
		margin-bottom: 45px;
	}
	.advantage{
		row-gap:12px;
	}
	.advantage-item{
		max-width: 120px;
	}
	.advantage-amount{
		font-weight: 900;
		font-size: 32px;
		line-height: 39px;
	}
	.advantage-desc{
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
	}
	.clients-block{
		margin-top: 54px;
	}
	.clients-block img{
		width: 70px;
	}
	.trust-desc{
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
	}
	.global-team{
		margin-top: 65px;
	}
	.global-team .section-title.mb-60{
		margin-bottom: 45px;
	}
	.offices{
		flex-direction: column;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
	}
	.offices .offices-countries .mb-lg-56{
		margin-bottom: 35px;
	}
	.project-items{
		flex-wrap: wrap;
		gap: 7px;
	}
	.project-item__header{
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
	}
	.project-item{

		padding:7px;
		max-width:150px;
		font-weight: 400;
		font-size: 11px;
		line-height: 13px;
		max-height: 90px;
	}
	.project-item__desc{
		font-weight: 400;
		font-size: 11px;
		line-height: 13px;
	}
	.project-items button{
		width:150px;
		max-height: 90px;
		font-weight: 500;
		font-size: 10px;
		line-height: 12px;
	}
	.arrow-icon{
		margin-top: 10px;
	}
	.howit{
		margin-top: 65px;
	}
	.howit .section-title.mb-120{
		margin-bottom: 45px;
	}

	.howit .step-item .step-title{
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 0;
	}
	.howit .step-item{
		flex-direction: row;
		/* justify-content: center; */
		align-items: center;
		column-gap: 45px;
	}
	.howit .step-item .step-count{
		background-image: url(./assets/svg/circle-mobile.svg);
		width: 50px;
		height: 50px;
		border-radius: 50%;
		padding:28px;
		font-weight: 700;
		font-size: 15px;
		line-height: 18px;
	}
	.howit .step-item.mb-lg-48{
		margin-bottom: 0;
	}
	.howit .steps{
		margin-bottom: 35px;
	}
	.step-count{
		order: -1;
		width: 100;
	}
	.contacts{
		margin-top: 52px;
	}
	.contacts .mb-lg-56{
		margin-bottom: 45px !important;
	}
	.contacts .section-desc{
		font-size: 19px;
		line-height: 23px;
		margin-bottom: 31px;
	}
	.contacts .mobile-button{
		margin-bottom: 30px;
	}
	.second-employee{
		flex-direction: row !important;
		margin-left: 0;
		column-gap:30px;
		align-items: center;
	}
	.employee-desc{
		font-size: 16px;
		line-height: 20px;
	}
	.employee-tel{
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 20px;
	}
	.employee-mail{
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
	}
	.vertical-arrow{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color:#0050FF;
	}
	.btn-more{
		padding: 28px 30px;
	}
	.map{
		margin-bottom: 35px;
	}
	.mb-lg-56{
		margin-bottom: 0;
	}
	.mb-sm-34{
		margin-bottom: 34px;
	}
	.mb-lg-48{
		/* margin-bottom: 0; */
	}
	.mb-sm-48{
		margin-bottom: 48px;
	}

}